ucimlrepo==0.0.7
pandas==2.3.3
numpy==2.4.4
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
mlflow==3.11.1
fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.13.3
pytest==9.0.3
httpx==0.28.1
flake8==7.1.1
black==24.8.0
joblib==1.5.3
prometheus-fastapi-instrumentator==7.1.0
jupyter==1.1.1
nbformat==5.10.4
